@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
.jumbotron {
  background-image: image_url('mexico_de_raul.jpg');
  background-size: cover;
  height:635px;
  padding:40px;
  margin-bottom: 0px;
}
.jumbotron h1{
  padding-top: 60px;
  font-family: 'Josefin Sans', sans-serif;
}
div.container{
  width: 100%;
  text-align: center;
}
body {
  font-family: sans-serif;
  overflow-x: hidden;
  padding:0;
  margin:0;
}
.thumbnail a > img {
  height: 100px !important;
  width: 230px !important;
}
.thumbnail {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 200px;
  height: 300px;
  padding: 15px;
  margin-left: 5px;
  margin-right: 5px;
  border: none !important;
  box-shadow: 2px 2px 0px 0px lightgray; 
  border-radius: 0px !important;
}
#categories{
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.mid{
  background-color: #00EEEE;
  margin-top: 0px;
}
.mid>h4{
  padding-top: 20px;
  font-size: 24px;
  color:black;
  height: 70px;
  width: 100%;
  background-color: lightgray;
  box-shadow: 0px 2px 2px 0px gray;
  margin-top: 0px; 
  padding-left: 40px;
}
.caption{
  height: 75px;
}
#view_more{
  background-color: #E4007C;
  border-color: #E4007C;
  color: white !important;
}
#view_more:hover{
  background-color: #E4007C;
  border-color: #E4007C;
}
#search_main{
  background-color: rgba(255,255,255, 0.75);
  margin-top: -40px;
  margin-right: -40px;
  margin-left: -40px;
  border-radius: .5px 0px;
  width: 100%;
  position: fixed;
  text-align: center;
  z-index: 2;
}
#main_search{
  font-size: 14px;
  color: lightgray;
}
#main_search input{
  text-align: center;
}
#search_button{
  background-image: image_url('search_kiichpan.png');
  background-color: transparent;
  background-size: 38px;
  margin-left: -10px;
  margin-top: -10px;
  background-repeat: no-repeat;
  width: 35px;
  color: transparent;
  display: inline-block;
}
div.form-group{
   width: 20%;
   min-width: 250px;
   display: inline-block;
}
.form-control{
  font-size: 18px;
}
@media screen and (max-width: 768px) and (min-device-width: 0px){
  *{
    overflow-x: hidden;
  }
}